
h3{
	margin-left: 120px;
}
.th1{
	display: inline-block;
	margin-left: 25px;
	margin-right: 50px;
}
.td1{
	display: inline-block;
	margin-right: 100px;
	width: 150px
}

/* Task-2 */

.div1{
	width: 650px;
	text-align: center;
}
img{
	width: 70px;
	height: 80px;
	margin-left: 100px;

}
.td2{
	display: inline-block;
	width: 400px;
	vertical-align: top;
	margin-left: 10px;
	text-align: left;
}
span{
	display: inline-block;
	width: 500px;
	height: 1px;
	background-color: black;
}

/* Task-3 */

.div2{
	text-align: center;
	width: 500px;
}
h2, p{
	margin: 5px;
}

.table3{
	width: 500px;
	text-align: center;
}
